.navbar{
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(221, 218, 214);
}
li{
    margin: 10px;
    list-style-type: none;
    font-size: larger;
    margin-right: 40px;
    width: fit-content;
    padding: 10px; 
}
li>*{
    color: black;
    padding: 25px;
    border-radius: 10px;
}
li>*:hover{
    background-color: brown;
    color: white;
    transition: 0.5s;
}
